@model SecureMVCApp.ViewModels.MyMultipleModelInOneView

@{
    ViewData["Title"] = "Purchase Orders";
}

<div>
    <form method="post">
        <div class="text-center mx-auto" style="background-color: #f0f0f0; border-radius: 3px; width: auto; display: inline-block;">
        <h1 style="margin: 0;font-size: 20px;">Existing Purchase Orders</h1>
        </div>
    <br/>
    <table style="border: 2px solid block; border-radius: 5px; padding: 1px; ">
        <tr>
            <th>Product Name</th>
            <th>Amount</th>
            
        </tr>
        </thead>
        <tbody border="1">
        @foreach (var purchaseOrder in Model.PurchaseOrders)
        {
            <tr>
                <td>@purchaseOrder.Description</td>
                <td>@purchaseOrder.Amount</td>
            </tr>
        }
        <tr>
                    <td><strong>Total Cart Amount:</strong></td>
                    <td><strong>@Model.TotalCartAmount</strong></td>
                    <input type="hidden" name="TotalCartAmount" value="@Model.TotalCartAmount" />
                </tr>
        <tr>
            <td colspan="2" style="text-align: left;">
                <input type="submit" value="Confirm Cart" name="action" />
            </td>
        </tr>
        </tbody>
        
    </table>
    
        <input type="submit" value="Add To Cart" name="action" style="margin-bottom: 10px; " /> 
        <div class="text-center mx-auto" style="background-color: #f0f0f0; border-radius: 4px;">
            <h2 style="margin: 0; font-size: 25px;">Product List</h2>
            </div>
        <table style="width: 100%; border: 1px solid #ccc;">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Product Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.AllProducts)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedProductIds" value="@product.Id" />
                        </td>

                        <td>@product.Id</td>
                        <td>@product.ProductName</td>
                        <td>@product.Amount</td>
                        <td>@product.Description</td>
                        <td>@product.ProductType</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <br/>
    
    
</div> 